* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  background-color: #1888bb;
  color: #edc41f;
}

h1, h2, h3, h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gamers-panels {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  width: 100%;
}

.avatar-info {
  margin-bottom: 0.5em;
}

.choices {
  display: flex;
  justify-content: space-around;
}

.gamer-panel,
#results-screen
 {
  border: 2px dotted darkgray;
  padding: 0.5em;
}

#results-screen {
  width: 100%;
}